* {
    margin: 0;
    padding: 0;
    // font-family: tittillium;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: arial;

    a {
        color: black;
        text-decoration: none;
        cursor: pointer;
        font-family: arial;

    }

    button {
        cursor: pointer;
    }
}

@font-face {
    font-family: titillium semibold;
    src: url("../../resources/fonts/TitilliumWeb-SemiBold.ttf");
    font-display: arial;
}

@font-face {
    font-family: titillium regular;
    src: url("../../resources/fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: titillium bold;
    src: url('../../resources/fonts/TitilliumWeb-Bold.ttf');
    font-display: arial;
}

@font-face {
    font-family: titillium black;
    src: url('../../resources/fonts/TitilliumWeb-Black.ttf');
    font-display: arial;
}

$gray: #bfc1c5;
$base-blue: #236bff; //TODO re-evaluate this color to confirm that it matches the brands color
$hover-color: #4054b2;
$trans-blue: #170879d2;
$blue-shade: #242424db;
$dark-blue: #170879;
$black: black;
$dark-gray: rgb(56, 56, 56);
// $base-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
$basefont-semibold: titillium semibold;
$basefont-regular: titillium regular;
$secondary-font: "Abel",
Sans-serif;
$basefont-bold: titillium bold;
$basefont-black: titillium black;
$support-color: rgb(255, 183, 0);
$side-padding: 3em;