@import 'config';
@import url('../../resources/fontawesome-free-6.0.0-web/css/all.min.css');


// Starting of Navigation
.nav {
    background: white;
    padding: 1em 0em;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 20px 0px #0000000a;
    position: sticky;
    top: 0em;
    justify-content: center;
    flex-flow: column;
    z-index: 40;

    &__outer-container {
        // background: blue;
        width: 84%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    & section:last-child {
        margin-left: auto;
        // z-index:0;
    }

    &__logo-container {
        width: 8em;

        img {
            width: 100%;
        }
    }

    &__container {
        margin-left: auto;
        // background:red;
    }

    &__link-container {
        display: flex;
        flex-flow: column;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.934);
        width: 80%;
        justify-content: flex-start;
        padding-top: 3em;
        transform: translateX(-120%);
        // transition: .3s;
        // transition-timing-function: cubic-bezier(0, 1.33, 0.65, 1.1);
        box-shadow: 7px 0px 20px 4px #0000001c;
        // backdrop-filter: blur(20px);
        z-index: 4;
        overflow-y: auto;
        padding-bottom: 2em;


        >label {



            &.link {
                padding: 1em 0;
                border-top: solid 1px #b6b6b6b1;
                border-left: none;
                border-right: none;

            }

            >label.link {
                padding: 1em 0;
                border-top: solid 1px #b6b6b6b1;
                display: block;

            }


            &#visit {
                border: none;

                a {
                    color: black;
                }
            }

            a {
                font-size: 14px;
                font-family: $basefont-semibold;
                display: block;
                padding-left: 2em;
                // font-weight:bolder;
                text-transform: uppercase;
                // background:blue;
            }

            .dropdown.hide {
                // background-color:blue;
                height: 0;
                padding: 0;
            }


            .dropdown {
                // transition: .1s;
                overflow: hidden;
                transition-timing-function: linear;
                background: $dark-blue;
                display:flex;
                flex-flow:column;
                justify-content:center;
                align-items:center;
                // padding: 1.5em 0;

                > div{
                    section:last-child{
                        margin-top:1em;
                    }
                }
                


                &__list {
                    padding-right: .4em;

                    label {
                        width: 100%;
                        padding: .2em .4em;
                        padding-left: 0;
                        display: block;


                        a {
                            font-family: $basefont-regular;
                            text-transform: initial;
                            color: rgb(221, 221, 221);
                            color: rgb(221, 221, 221);


                            &:hover {
                                color: $hover-color;
                                text-decoration: underline;
                            }
                        }


                    }

                }

                &.course {
                    padding-left: 1.7em;

                    // padding-top: .4em;

                    h2 {
                        font-size: 18px;
                        padding-top: .1em;
                        padding-right: .4em;
                        font-family: $basefont-regular;
                        color: white;
                    }

                    &>section:last-child h2 {
                        padding-top: 1em;
                    }

                    .course__image-container {
                        width: 14em;
                        padding: .5em 0;
                        display: none; //TODO comment this if we want the images on the nav for mobile

                        img {
                            width: 100%;
                        }

                    }


                    .link__container {
                        padding-left: 0;

                        label {
                            padding: .3em 0;
                            padding-right: .7em;

                            a {
                                padding: 0 !important;
                                padding-right: .7em;
                            }
                        }
                    }


                }
            }

        }
    }

    &.active &__link-container {
        transform: translateX(0);
    }

    &__menu {
        padding: .5em 0;
        cursor: pointer;
        // z-index: 14;
        i{
            pointer-events: none;
        }


        &.hide:after {
            display: none;
        }


        &:after {
            content: "";
            display: block;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            position: absolute;
            background: #00000041;
            z-index: -1;
            // backdrop-filter: blur(2px);
        }
    }

    &__icon {
        pointer-events: none;
        background: black;
        // height: .15em;
        width: 1em;
        border-top:solid 2px black;

        // Remove the following letter
        position:absolute;
        opacity:0;

        &:before,
        &:after {
            content: "";
            display: block;
            // height: inherit;
            border:inherit;
            width: inherit;
            position: relative;
        }

        &:before {
            background: inherit;
            top: -.4em;
            // height: 0.1521em;
        }

        &:after {
            background: inherit;
            top: .3em;
        }
    }

}


.backgroundSlider{
    // padding: 15em 0;
 // background:$gray;
 background-color: #17087980;
 background-image: url(../../images/slides/slide1.jpg);
 background-size: cover;
 background-position: right;
 background-repeat: no-repeat;
 height: 100vh;
 width: 100%;
 background-blend-mode: overlay;
 position: fixed;
 top: 0;
 z-index: -1;
 // position:relative;
 // overflow: hidden; 
 // display:flex;
 // justify-content:center;
 // align-items:center;
 .slide {
     position: absolute;
     width: 100%;
     height: inherit;
     opacity: 1;
     background: inherit;
     background-blend-mode: inherit;
     background-size: inherit;
     background-repeat: no-repeat;
     background-position: center top;
     pointer-events: auto;
     will-change: opacity;
     transition-property: opacity, transform;
     transition: 1s;
 
     &.hide {
         opacity: 0;
         pointer-events: none;
         transform: scale(2) translateY(-10em);
         // transform: translateY(-1em);
     }
 }
}

.up__button {
    height: 2em;
    width: 2em;
    background: $base-blue;
    color: white;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 44;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: hovering;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    will-change: opacity, transform;
    
    &.show {
        opacity: 1;
        pointer-events: auto;
    }
}

main {
    
    // News Letter Section
    .newsletter {
        // background-color:#6a6a6a;
        $width: 90%;
        
        // background: $trans-blue;
        background-color:$blue-shade;
        // backdrop-filter: blur(4px);
        padding: 3em 0;
        padding-bottom: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        
        &__text {
            text-align: center;
            color: white;
            font-weight: normal;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            
            h1 {
                font-family: $basefont-bold;
                font-family: 1rem;
                font-weight: normal;
            }

            p {
                font-family: $basefont-regular;
                padding: 0px 1.5em;
                width: $width + 10;
                text-align: center;
            }

        }

        &__form {
            padding: 1em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $width;

            input,
            button {
                padding: 1em .5em;
                font-family: $basefont-regular;
                border: none;
                width: 100%;
            }

            input {
                padding: 1em 1em;
                width: 100%;
                border-top-left-radius: .3em;
                border-bottom-left-radius: .3em;
            }
            
            button {
                padding: 1em;
                background: #ffb700;
                max-width: 10em;
                border-top-right-radius: .3em;
                border-bottom-right-radius: .3em;
            }
        }
    }
    .details{
        padding:2em 0;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:rgb(250, 250, 250);
        margin-top:-.1em;

        &__container{
            display:flex;
            width:100%;
            flex-flow:column;
            padding:0px 1.4em;

            > div{
                // padding:.5em 1em;
                padding:.5em 0;

                i{
                    font-size:20px;
                    padding:.3em .5em ;
                }

                > div{
                    display:flex;
                    // justify-content: center;
                    // align-items:center;

                    > div{
                        padding-left:1em;
                    }
                }

                h1{
                    font-size:1rem;
                    font-family:$basefont-semibold;
                }
                p{
                    font-size:1rem;
                    font-family: $basefont-regular;
                }
            }
        }
    }
}

@keyframes hovering {
    from {
        transform: translateY(0em);
    }

    to {
        transform: translateY(.5em);
    }
}

// Footer Section Mobile , Default
.footer {
    
    // border-top: solid 1px rgba(255, 255, 255, 0.241);
    padding: 4em 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: $basefont-regular;
    background-color: $blue-shade;
    // background: $trans-blue;
    // backdrop-filter: blur(4px);

    &__container {
        display: grid;
        margin: 0 auto;
        width: 100%;

        >section:not(:first-child) {
            padding-top: 2em;
        }
    }


    section {
        h1 {
            font-size: 1.3rem;
            color: rgb(255, 255, 255);
        }

    }

    &__link {
        padding-top: .5em;

        label {
            padding: 0em 0;
            display: block;

            a {
                // color: $base-blue;
                color: rgb(228, 228, 228);
                font-size: .9rem;
                font-family: $basefont-regular;


                &:hover {
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }

    &__socialmedia {

        .footer__link {
            display: flex;
            padding-top: 1em;

            label {
                height: 3em;
                border-radius: 50em;
                width: 3em;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: blue;

                &:not(:first-child) {
                    margin-left: .5em;
                }

                a {
                    color: white;
                    font-size: 1.1rem;
                }

                &:nth-child(2) {
                    background: #128c9d;
                }

                &:last-child {
                    background: #D60E00
                }
            }

        }
    }


}


@media (min-width:700px) {
    .footer {
        display: grid;
        padding: inherit 2em;
        padding-bottom: 5em;

        &__container {
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            grid-row-gap: 3em;

            >section:not(:first-child) {
                padding-top: 0;
            }
        }

    }

}

@media (min-width: 800px) {
    main {
        .newsletter {
            $width: 60%;

            &__text {
                p {
                    width: $width;
                }
            }

            &__form {
                width: $width;

                input {
                    width: inherit;
                }
            }
        }
        
        .details{
            
            &__container{
                flex-flow:row;
                width:70%;
                justify-content:center;
                align-items:center;
                padding:0;

                > div{
                    width:100%;
                    display: flex;
                    justify-content:center;
                    align-items:center;

                    > div{
                        > div{
                            padding-left:.5em;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1000px) {
    .footer {
        display: grid;
        padding: inherit 2em;
        padding-bottom: 10em;

        section {
            padding: 0px 1em;
            display: flex;
            // justify-content:center;
            align-items: center;
            flex-flow: column;
        }


        &__container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            width: initial;
            max-width: 85em;


            >section:not(:first-child) {
                padding-top: 0;
            }
        }

    }

}


@media (max-width:300px) {
    .course__image-container {
        width: 100% !important;
    }
}

@media (min-width: 1000px) {
    .nav {
        padding: 0em $side-padding;
        position: sticky;
        top: 0;
        // background:white;
        // transition: .3s;

        &.transparent {
            background: #ffffffa6;
            backdrop-filter: blur(10px);
        }

        // &__container {}


        &__menu {
            padding: .5em 0;
            cursor: pointer;
            display: none;
            // z-index: 14;


            &.hide:after {
                display: none;
            }
        }

        &__link-container {
            flex-flow: row;
            position: initial;
            height: initial;
            padding: initial;
            margin-left: auto;
            justify-content: flex-end;
            width: initial;
            background: transparent;
            box-shadow: 0px 0px 0px 0px;
            transform: translateY(0);
            transition: 0;
            overflow-y: initial;
            // backdrop-filter: blur(0);


            >label {


                &.link {
                    padding: initial;
                    padding: 1.4em 1em;
                    width: inherit;
                    display: initial;
                    border: none;
                    // border-bottom: solid 3px transparent;
                    // border-top: solid 3px transparent;

                    &#visit,
                    &>label#visit {
                        border-bottom: solid 3px $base-blue;
                    }
                }

                >label.link {
                    padding: 1.4em 1em;
                    border: none;
                    border-bottom: solid 3px transparent;
                    // display:initial;

                    &#visit {
                        border-bottom: solid 3px $base-blue;
                    }
                }



                a {
                    display: inline;
                    padding: 1em 0;
                    color: $dark-gray;
                    // color:white;

                    &:hover {
                        color: black;
                    }
                }

                .dropdown {
                    
                    position: absolute;
                    background: rgba(255, 255, 255, 0.939) !important;
                    // backdrop-filter: blur(76px) ;
                    box-shadow: 0px 4px 6px 0px #0000002b;
                    pointer-events: none;
                    display: flex;
                    flex-flow: column;
                    font-weight: 0;
                    height: initial;
                    padding: 0;
                    border-radius: .3em;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    // border-top:solid 3px $base-blue;

                    >div{
                        display:flex;

                        section:last-child{
                            margin-top:0;
                        }
                    }


                    transform: translateY(6em);
                    opacity: 0;
                    transition: .2s;





                    &__list {

                        label {
                            font-size: 9px;
                            padding: .7em 1em;


                            a {
                                color: black;
                            }
                        }

                        &.aboutus__dropdown {
                            min-width: 40%;
                        }

                        label:not(:last-child) {
                            border-bottom: solid 1px rgba(0, 0, 0, 0.104);
                        }

                    }

                    &.course {
                        display: flex;
                        flex-flow: row;
                        right: 0;
                        padding: 1em 3em;
                        padding-bottom: 2em;

                        h2 {
                            color: black;
                            margin:0;
                        }



                        .course__card {

                            &:last-child {
                                padding-left: 2em;
                            }

                            h2 {
                                font-size: 1.25rem;
                                font-family: $basefont-bold;
                                line-height: 1.5rem;
                                padding: 0 !important;
                                padding-bottom: .4em;
                                // color: $base-blue;
                            }


                            .course__image-container {
                                width: 17em;
                                display: flex;

                                .course__image {
                                    width: 100%;
                                }
                            }

                            .link__container {
                                label {
                                    padding: .1em 0;
                                    border: none;

                                    a {
                                        font-family: $basefont-regular;
                                    }
                                }
                            }
                        }
                    }


                }

                &:hover {

                    & .dropdown {
                        transform: translateY(0em);
                        opacity: 1;
                        pointer-events: auto;
                    }

                    &>label:first-child a {
                        color: $black;
                    }
                }
            }
        }

        &__icon {
            display: none;
        }

        &__logo-container {
            width: 9em;
        }

    }

}

@media (min-width: 1100px) {
    .nav {

        &__outer-container {
            width: 65em;
        }
    }
    main{
        .details{
            &__container{
                width:65em;
            }
        }
    }
}

// Navigation Ending