@import 'main';


main {
    // margin-top:15em;

    .background {
        background-image: url("./../../images/slides/slide1.jpg");
        background-size: cover;
        background-blend-mode: multiply;
        width: 100%;
        position: fixed;
        height: 100vh;
        z-index: -1;
        top: 0;
        left: 0;
    }

    header {
        height: 12em;
        width: 100%;
        background-color: #17087980;
        background-blend-mode: multiply;
        background-image: url("./../../images/slides/slide1.jpg");
        background-size: cover;
        background-repeat: repeat-x;
        display: flex;
        align-items: center;

        h1 {
            color: white;
            font-family: $basefont-bold;
            // padding-left:.5em;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }

    }

    .about {
        background: white;
        padding: 2em 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        &__container {
            width: 85%;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            grid-gap: 1em;
            // text-align: justify;

            img {
                width: 100%;
                border-radius: .3em;
            }

            p,
            h1 {
                font-family: $basefont-regular;
            }

            p {
                font-size: .9rem;
                padding: .4em 0;
            }
        }
    }

    .mission {
        background: #170879d2;
        width: 100%;
        padding: 3em 0;
        // padding-top: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-.1em);

        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column-reverse;
            width: 90%;

            .para {
                >div {
                    padding: 1em 0;

                    p,
                    h1 {
                        font-size: .9rem;
                        font-family: $basefont-regular;
                        color: white;
                    }

                    h1 {
                        font-size: 1.4rem;
                    }
                }
            }

            .mission__image {


                img {
                    width: 100%;
                    border: solid 5px white;
                    border-radius: .3em;
                }
            }
        }

    }

    .strategy {
        // padding-top: 4em;
        padding-bottom: 20em;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;

        &__container {
            display: flex;
            flex-flow: column;
            width:95%;

            .card {
                display:flex;
                flex-flow:column;
                // padding-bottom:2em;

                &:last-child{
                    flex-flow:column-reverse;
                }
                

                &__para {
                    // background-color: rgb(239, 239, 239);
                    background: #eff1f3;
                    padding: 1em 0;
                    padding-top:2em;
                    // min-height: 28em;

                    h1 {
                        color: $dark-blue;
                        font-family: $basefont-bold;

                        &:after {
                            content: "";
                            display: block;
                            height: .2em;
                            border-radius: .3em;
                            margin-top: .3em;
                            width: 5em;
                            background: $dark-blue;
                        }
                    }

                    p {
                        line-height: 1.7em;
                        font-size: .9rem;
                        margin-top: 1em;
                        font-family: $basefont-regular;
                        padding:1em;
                    }
                }

                &__image {
                    padding: 1em;
                    // height:25em;
                    background-size: cover;
                    padding: 1em;
                    background-repeat: no-repeat;
                    min-height: 20em;
                }
            }
        }

    }
}


@media (min-width:1000px) {
    main {

        header {
            h1 {
                font-size: 3rem;
                // text-transform: capitalize;
            }
        }

        .about {

            &__container {
                grid-template-columns: 1fr 1fr;
                width: 80%;

            }
        }

        .mission {

            &__container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                flex-flow: row;
                width: 77%;
                grid-gap: 1em;
            }
        }

    }
}


@media (min-width:750px){
    main{
        
        .strategy{
            padding-top:3em;

            &__container{
                width:80%;

                .card{
                    display:grid !important;
                    grid-template-columns: 1fr 1fr;
                    padding: 0;


                    &__para{
                        padding:1em;
                        min-height:28em;
                    }
                }
            }
        }
    }
}


@media (min-width: 1100px) {
    $width: 65em;

    main {
        .about {

            &__container {
                width: $width;
            }
        }

        .mission {

            &__container {
                width: $width;
            }
        }

        .strategy {

            &__container {
                width: $width;
            }
        }
    }
}