@import 'main';


main {
    // margin-top:15em;

    .background {
        width:100%;
        background-image: url("./../../images/slides/slide1.jpg");
        background-size: cover;
        background-blend-mode: multiply;
        position:fixed;
        height:100vh;
        z-index: -1;
        top:0;
    }
    
    header{
        height:12em;
        width:100%;
        background-color: #17087980;
        background-blend-mode:multiply;
        background-image: url("./../../images/slides/slide1.jpg");
        background-size:cover;
        background-repeat:repeat-x;

    }

    .about{
        background:white;
        padding:23em 0;
    }
}