@import 'main';




header {
    background: rgba(4, 4, 160, 0.52);
    height: 35em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: -4em;

    h1 {
        font-size: 4rem;
        color: white;
        font-family: $basefont-bold;
        z-index: 1;
        line-height: 4rem;
        text-align: center;
    }

}



main {
    // display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    // background: white;
    // margin-top: 25em !important; // size based on the headers height
    // padding: 3em 0;
    // padding-bottom: 5em;
    // display: none;

    .about {
        background-color: white;
        // width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__container {
            // background:blue;
            // padding-top: 3em;
            display: flex;
            flex-flow: column;
            flex-direction: column-reverse;
            padding: 3em 0em;
            justify-content: center;
            align-items: center;
            width: 85%;
        }

        >section {
            width: 100%;

            &:not(:first-child) {
                // margin-left:3em;
            }
        }

        &__text-container {
            padding-top: 2em;

            h2 {
                font-family: $basefont-semibold;
                font-size: 2rem;
                padding-bottom: 0em;
            }

            p {
                line-height: 1.9em;
                font-size: .9rem;
                font-family: $basefont-regular;
                padding-bottom: 1em;
                text-align: justify;

                // text-align:justify;
                a {
                    // color: $base-blue;
                    color: black;
                    font-family: $basefont-regular;
                    font-weight: bolder !important;

                    &:hover {
                        text-decoration: underline;
                        font-style: italic;
                    }
                }

            }

            >a {
                border: solid 2px $base-blue;
                padding: .2em 1em;
                font-family: $basefont-semibold;
                display: none; // remove if you want the button
            }
        }

        .card {
            // background:rgba(223, 223, 223, 0.159);
            // margin-top:1em;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            // border-bottom: solid .1em $base-blue;
            padding: 1em 0;
            // box-shadow:0px 0px 10px 0px #0000000c;

            &__icon {
                padding: 1em .5em;
                font-size: 29px;

                i {
                    color: $base-blue;
                }
            }

            h2 {
                font-family: $basefont-semibold;
                // color: $base-blue;
                text-align: center;
            }

            p {
                text-align: center;
                color: black;
                font-family: $basefont-regular;

            }
        }
    }

    // Collaboration Section
    .collaboration {
        padding: 3em 0;
        background: $trans-blue;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        p {
            padding: 1em 0;
            padding-top: 0;
            color: white;
            font-family: $basefont-regular;
        }

        button {
            border: solid 2px white;
            // background: transparent;
            background: $support-color;
            font-family: $basefont-bold;
            padding: .7em 2.5em;
            cursor: pointer;
            border-radius: .3em;
        }
    }

    // Courses Section
    .courses {
        background: white;
        padding: 2em 0;
        padding-top: 4em;


        h1 {
            font-family: $basefont-semibold;
            font-size: 30px;
            text-transform: uppercase;
            text-align: center;
        }

        &__card-container {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            padding: 1em 0;
            // background:black;
        }

        &__inner-container {
            // width:60em;
            // width:20em;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            width: 90%;
            grid-gap: 1em;
        }

        &__card {
            overflow: hidden;
            // width:18em;
            position: relative;
            // margin-top:1em;
            // width:90%;
            align-self: center;
            margin: 0 auto;
            width: 100%;
            height: 25em !important;
            border-radius: .3em;

            img {
                width: 100%;
                transform-origin: top;
                transition: .5s;
                transform: scale(1.01);
                filter: brightness(1.2) contrast(1);
            }

            &:hover img {
                transform: scale(1.5);
            }
        }

        &__image-container {
            height: 18.6em;
            overflow: hidden;
        }

        &__info {
            // position: absolute;
            // height: 7em; 
            // background: rgba(19, 27, 248, 0.309);
            // background-color: #2196f340;
            // width: 100%;
            // backdrop-filter: blur(2px);
            bottom: 0;
            // color: white;
            // background-color: #f7f7f7;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            padding-top: 0;
            padding: .5em 0;

            h2,
            h3 {
                // color: $dark-blue;
                text-align: center;
            }

            h2 {
                font-family: $basefont-bold;
                font-size: 1.2rem;
                padding: .5em 0;
                // margin-top:3em;
                bottom: 4.5em;
                // position: absolute;
            }

            h3 {
                font-family: $basefont-regular;
                font-weight: normal;
                padding: .5em 1em;
                padding-left: 0;
                font-size: .8rem;
                letter-spacing: .10em;
                display: none;
            }

            button {
                padding-top: 1em;
                width: 10em;
                padding: .5em 0;
                // position: absolute;
                background-color: $dark-blue;
                // color: $dark-blue;
                border: none;
                bottom: 3em;
                cursor: pointer;
                font-family: $basefont-semibold;
                border: solid 2px black;
                border-radius: .3em;
                background: transparent;
            }



        }



    }


}


@media (min-width:800px) {
    main {
        .courses {

            &__inner-container {
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;
                width: 80%;
            }

            &__card {
                width: 100%;
                height: 100%;
            }

            &__info {
                justify-content: flex-start;
                align-items: flex-start;
                padding-left: 1em;

                h1,
                h2 {
                    text-align: left;
                }
            }

        }
    }
}


@media (min-width:907px) {

    header {
        height: 100vh;

        h1 {
            font-size: 6rem;
        }
    }

    main {
        // margin-top: 100vh !important;
        // padding-top: 3em;
        // padding-bottom: 3em;

        .about {
            padding: 6em 0;

            &__container {
                width: 89%;
                // padding: 1em 0em;
                // padding-top:0;
                flex-direction: row;


                >section {
                    width: 100%;

                    &:not(:first-child) {
                        margin-left: 1em;
                    }
                }

                &__text-container {
                    padding: 0;
                }

                .card {
                    flex-flow: row;
                    padding: .5em 1em;
                    padding-top: .7em;
                    align-items: center;
                    justify-content: center;

                    &:not(:first-child) {
                        margin-top: 0em;
                    }

                    &__icon {
                        height: 100%;
                        padding: 0em .5em;
                        margin-top: .5em;
                    }

                    h2,
                    p {
                        text-align: left;
                    }

                    p {
                        font-size: .9rem;
                    }
                }


            }


        }


    }
}


@media (min-width:1100px) {
    main {

        .about {

            &__container {
                width: 60em;


                >section {
                    width: 100%;

                    &:not(:first-child) {
                        margin-left: 3em;
                    }
                }

                &__icon {
                    padding: 0em 1em;
                }

            }
        }

        .courses {

            &__inner-container {
                width: 60em;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }


    @media (min-height:700px) {
        header {
            height: 47em;
        }
    }
}